@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    background: rgb(41, 41, 41);
    background: linear-gradient(180deg, rgba(41, 41, 41, 1) 10%, rgba(18, 18, 18, 1) 100%);

    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    line-height: 1.6;
    padding: 0 20px;

    min-height: calc(100vh - 1px);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.header h2{
    margin-top: -.1em;
    line-height: 1;
}

p{
    text-align: justify;
}

@media screen and (max-width: 750px) {
    body {
        background: linear-gradient(180deg, rgba(41, 41, 41, 1) 0%, rgba(18, 18, 18, 1) 50%);;
        padding: 0;
    }

    .form-wrapper, .header {
        width: 90%;
        box-shadow: none;
        background: none;
        padding: 20px;
    }

    input[type="text"],
    input[type="email"],
    input[type="number"],
    select {
        width: 100%;
    }

    form .form-header{
        display: block;
    }

    .radioLabel+.radioLabel {
        margin-top: .9em;
    }
}